_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
fidoserver/.DS_store
fidoserver/keymanager/target/
fidoserver/fidoserverEAR/target/
fidoserver/fido2mds/src/main/resources/authenticator/metadata/GoTrust_Secp256R1_FIDO2_Interop_CTAP2_Authenticator_newer.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/CTAP2Secp256r1AttCert.metadata.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/KONAI_MDS_1.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/eSecu_FIDO2_Metadata.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/feitian-AllinOneFIDO2_USB_BLE_NFC.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/feitian-BioFIDO2_USB_withCN.json
fidoserver/fido2mds/src/main/resources/authenticator/metadata/feitian-ePassFIDO2_USB.json
server/api/target/
server/authenticationBeans/target/
server/common/target/
server/crypto/target/
server/fido2mds/target/
server/fidoserverEAR/target/
server/fidoserverbeans/target/
server/keymanager/target/
/sampleapps/java/basic/server/target/
/sampleapps/java/poc/server/target/
/server/skfe/nbproject/
/server/skfe/target/
