<!-- begin::Footer -->
<footer class="m-grid__item	m-footer" appunwraptag="">
	<div class="m-container m-container--fluid m-container--full-height m-page__container">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
			<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last" style="text-align:center">
				<span class="m-footer__copyright">
					Copyright &copy;  2001 - 2020
					<a href="https://www.strongkey.com" class="m-link">
						StrongKey.
					</a>
					All Rights Reserved.
				</span>
			</div>
		</div>
	</div>
</footer>
<!-- end::Footer -->
