<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Dashboard
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!-- <div class="m-portlet">
		<div class="m-portlet__body">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-xl-12" style="text-align: center">
					<ng-container matColumnDef="score">
					  <th mat-header-cell *matHeaderCellDef> Score </th>
					  <td mat-cell *matCellDef="let user"> {{user.score}} </td>
					</ng-container> -->
<!-- 					<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
 -->


<!-- 					<img src="./assets/app/media/img//bg/dashboard.jpg" alt="Dashboard"  style="width: 60%">
 -->				<!-- </div>
			</div>
		</div>
	</div> -->
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">
					<!--
					  displayedColumns: string[] = ['did', 'uid', 'utxid','createDate', 'status'];

					-->
					  <!--- Note that these columns can be defined in any order.
					        The actual rendered columns are set as a property on the row definition" -->

					  <!-- Position Column -->
					  <ng-container matColumnDef="did">
					    <th mat-header-cell *matHeaderCellDef> Domain Id </th>
					    <td mat-cell *matCellDef="let element"> {{element.did}} </td>
					  </ng-container>

					  <!-- Name Column -->
					  <ng-container matColumnDef="uid">
					    <th mat-header-cell *matHeaderCellDef> User Name </th>
					    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
					  </ng-container>

					  <!-- Weight Column -->
					  <ng-container matColumnDef="utxid">
					    <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
					    <td mat-cell *matCellDef="let element"> {{element.txid}} </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="createDate">
					    <th mat-header-cell *matHeaderCellDef> Create Date </th>
					    <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
					  </ng-container>
					  <ng-container matColumnDef="status">
					    <th mat-header-cell *matHeaderCellDef> Status </th>
					    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
					  </ng-container>
					  <!-- <ng-container matColumnDef="fidoSignature">
					    <th mat-header-cell *matHeaderCellDef> Symbol </th>
					    <td mat-cell *matCellDef="let element"> {{element.fidoSignature}} </td>
					  </ng-container>
					  <ng-container matColumnDef="status">
					    <th mat-header-cell *matHeaderCellDef> Symbol </th>
					    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
					  </ng-container>
					  <ng-container matColumnDef="createDate">
					    <th mat-header-cell *matHeaderCellDef> Symbol </th>
					    <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
					  </ng-container>
					  <ng-container matColumnDef="signature">
					    <th mat-header-cell *matHeaderCellDef> Symbol </th>
					    <td mat-cell *matCellDef="let element"> {{element.signature}} </td>
					  </ng-container> -->

					  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<!-- 					  <button mat-button (click)="openDialog()">
 -->					  <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns;"(click)="openDialog(row)"></tr>
					</table>

</div>
