<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strongkey.sfaeco">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_dark_usb_path"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dark_usb_path"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.strongkey.sfaeco.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>