<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Dashboard
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__body">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<div class="col-xl-12" style="text-align: center">
					<img src="./assets/app/media/img//bg/dashboard.jpg" alt="Dashboard"  style="width: 60%">
				</div>
			</div>
		</div>
	</div>
</div>
